<ngb-alert type="danger" *ngIf="error">{{ error }}</ngb-alert>

<div class="login-form-wrapper">
<form (ngSubmit)="onLogin(form)" xlass="login-form" #form="ngForm">
  <label>Email</label> <br>
  <mat-form-field class="example-full-width">

    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">

    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
     {{ "form.invalidEmail" | translate }}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<br/>
  <label>Password</label> <br>
  <input class="form-control" ngModel name="password" type="password" required> <br>
  <br/>
  <button class="btn btn-success" [disabled]="form.invalid">Logi sisse</button>
</form>
</div>


